[submodule "protocol/contracts/lib/forge-std"]
	path = protocol/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "protocol/contracts/lib/openzeppelin-contracts"]
	path = protocol/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
